body{
    margin: 0rem;
    padding:0rem;
}
.container{
    background: url('../images/images.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* overflow: hidden; */
    align-items: center;
}
.container .events{
    
}
.container .month{
    background-color:rgba(0, 0, 0, .5);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 80%;
    margin-right: 3rem;
    border-radius: 2rem;
}
.container .month .month_name{
    grid-column: 1/-1;
    color: white;
    font-size: 80px;
    align-self: center;
    user-select: none;
    background: transparent;
}
.container .month span{
    color: rgb(11, 5, 93);
    background: rgb(237, 237, 241);
    align-self: end;
    padding: 1rem;
    font-size: 22px;
    user-select: none;
    text-align: center;
}
.container .month button{
    border: none;
    background: transparent;
    color:white ;
    font-size: 25px;
    cursor: pointer;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
}
.container .month button:hover{
    background: rgba(2, 7, 73, 0.6);

}
.container .month button.active{
    border: 1px dashed white;
    background: white;
    color: rgb(3, 7, 59);
}